body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #61a6ab;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1,
h2 {
    font-family: Playfair Display, serif;
}

section {
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

h2 {
    color: #61a6ab;
}

footer {
    background-color: #e3b354;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    /* Center the images */
}

.image-row img {
    flex: 1;
    max-width: calc(33.33% - 1rem);
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .image-row img {
        max-width: calc(30% - 1rem);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .image-row img {
        max-width: calc(45% - 1rem);
    }
}

@media (max-width: 991px) {
    .image-row img {
        max-width: calc(48% - 1rem);
    }
}

@media (max-width: 768px) {
    section {
        margin: 1rem;
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .image-row img {
        max-width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .image-row img {
        max-width: 100%;
    }
}